%% -*- erlang -*-

{erl_opts, [debug_info]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.6.0"}}},
    {wsock, {git, "https://github.com/madtrick/wsock.git", {tag, "1.1.7"}}}
]}.
